<div class="jumbotron-fluid text-center">
  <h1>BURGERS!</h1>
</div>
<div class="container-fluid text-center text-light">
  <h2>BURGERS AVAILABLE!</h2>

  <div class="row-fluid">
    
      {{#each burgers}}
      {{#unless devoured}}
      {{> burgers/burgers-block devour=true}}
      {{/unless}}
      {{/each}}
    
  </div>
  <h2>BURGERS DEVOURED!</h2>
  <div class="row-fluid">
    

    
      {{#each burgers}}
      {{#if devoured}}
      {{> burgers/burgers-block devour=false}}
      {{/if}}
      {{/each}}
   
  </div>
  <div class="row-fluid">
    <h2>Make a Burger!</h2>
    <form class="create-form">

      <div class="form-group">
        <label for="burgersN">Burger Name:</label>
        <input type="text" id="burgersN" name="name">
      </div>

      <div class="form-group">
        <label for="devoured">Hungary?</label><br>
        <input type="radio" name="devoured" value="1" checked> Eat Now!<br>
        <input type="radio" name="devoured" value="0"> Make Available
      </div>

      <button class="btn btn-primary"type="submit">Add Burger
        <span class="glyphicon glyphicon-menu-hamburger"></span>
      </button>
    </form>
  </div>
</div>